# NetBeans
nbproject/private/
build/
dist/
nbbuild/
nbdist/
*.class

# Sistema operativo
.DS_Store
Thumbs.db

# Los archivos .txt de datos NO se ignoran
# porque son parte del funcionamiento del proyecto
/target/
